@import "base.css";


header
{
    min-width: 100%;
    background-color: darkgreen ;
    overflow: hidden;
}
header div
{
    display: flex;
    justify-content: space-between;

}
.title
{
    height: 56px;
}
.title h1 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    line-height: 56px;
    letter-spacing: .4px;
    text-transform: uppercase;

}

nav
{
    text-align: right;
    height: 56px;
}
nav u {
    list-style:none;
    font-size: 0;
}
nav ul li {
    display:inline;
    line-height: 56px;
    cursor:default;
}
nav ul li a {
    font-size: 18px;
    font-weight: 600;
    color: white;
    line-height: 56px;
    letter-spacing: .4px;
    text-transform: uppercase;
    cursor: pointer;

    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
nav ul li + li{
    margin-left:25px;
}
.search-container
{
    float: right;
   
    margin-top: 18px;
   
    background: darkgreen;
    font-size: 17px;
    border: none;
    cursor: pointer;
}






input[type="text"]:valid, [type="email"]:valid, textarea:valid
{
    background: #FFF url(../Assets/search-12-48.png) no-repeat 96% center;
    background-size: 13px 13px;
    outline: none;
}




.row
{

    margin-top: 30px;
    display: flex;
    width: 100%;
}
.col
{
    
    height: 350px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px gray;
}
.three
{
    height:100px;
    width: 100%;
}

.three + .three
{
    margin-left: 25px;
}

footer
{

    width: 5%;
    height: 5%;
}
footer div nav ul svg
{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;

}
.innercol
{
 
    background-color: white;
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 50px;
    margin-top: 30px;
    overflow: visible;
    font-size: 22px;
    display: inline-flex;
    padding: 5px;
    letter-spacing: .4px;
}
#yes
{
    padding: 5px;
    margin-right: 15px;
    background-color: whitesmoke;
}
span
{
    margin-right: 10px;
}
table {
    margin-top: 3.6rem;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
  
 }
 
 table tr .td-1 {
    width: 5%;
 }
 
 table tr .td-2 {
    width: 45%;
 }
 
 table tr .td-3 {
    width: 24%;
 }
 
 table tr .td-4 {
    width: 21%;
 }
 
 table tr .td-5 {
    width: 5%;
 }
 
 table tr .td-1 input {
    color: #0fb28a;
 }
 

 table tr th:last-child,
 table tr td:last-child {
    text-align: right;
 }
 
 table tr th {

    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    cursor: default;
    padding-left: 15px;
    text-align: left;
 }
 
 table tr td {

    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: default;
    padding-left: 5px;
 }
 
 table tr td:first-child,
 table tr td:last-child {
    padding: 0 1.6rem 0 1.6rem;
 }
 table tr 
 {
     padding-left:  15px;
 }
 
 table td a i {
    position: relative;
    bottom: 0rem;
    font-size: 1.3rem;
    text-decoration: none;
    padding-left: 5px;
 }
 main
 {
     margin-top: 5%;
     padding-left: 50px;
     margin-left: 300px;

 }
 header div nav ul
 {
     float: left;
 }
 p{
     margin-left: 15px;
 }
 #yes1
 {
     margin-left: 180px;
 }
 #yes2
 {
    margin-left: 180px;
 }
 #yes3
 {
    margin-left: 280px;
 }
 #yes4
 {
    margin-left: 180px;
 }
 #yes5
 {
    margin-left: 180px;
 }
 #yes6
 {
    margin-left: 200px;
 }
 #yes7
 {
    margin-left: 280px;
 }
 #yes8
 {
    margin-left: 180px;
 }
 #yes9
 {
    margin-left: 200px;
 }
 #yes10
 {
    margin-left: 200px;
 }
 #yes11
 {
    margin-left: 280px;
 }
 #yes12
 {
    margin-left: 180px;
 }
 #yes13
 {
    margin-left: 180px;
 }
 #yes14
 {
    margin-left: 200px;
 }
 #yes15
 {
    margin-left: 280px;
 }
 #yes16
 {
    margin-left: 180px;
 }
 #yes17
 {
    margin-left: 220px;
 }
 #yes18
 {
    margin-left: 200px;
 }
 #yes19
 {
    margin-left: 280px;
 }
 #yes20
 {
    margin-left: 180px;
 }